@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);



#ext_menu-8 .navbar-toggler {
  color: #000;
}
#ext_menu-8 .nav-link {
  font-size: 16px;
  font-family: 'Merriweather', serif;
}
#ext_menu-8 .navbar-nav .btn {
  font-family: 'Lora', serif;
}
#msg-box3-13 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-13 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-13 .mbr-section-title {
  color: #8f99af;
}
#msg-box3-13 .lead {
  color: #bfc7d6;
}
#msg-box2-12 H2 {
  color: #ffffff;
}
#header1-1 H1 {
  color: #a8d0ea;
  font-family: 'Merriweather', serif;
}
#header1-1 P {
  color: #fbf2be;
}


#ext_menu-b .navbar-toggler {
  color: #000;
}
#ext_menu-b .nav-link {
  font-size: 16px;
  font-family: 'Merriweather', serif;
}
#ext_menu-b .navbar-nav .btn {
  font-family: 'Lora', serif;
}
#header4-c H1 {
  color: #d5f4f0;
}
#msg-box4-q .mbr-section-title {
  color: #c7b5db;
}
#msg-box4-r .mbr-section-title {
  color: #8f99af;
  text-align: left;
}
#msg-box4-s .mbr-section-title {
  text-align: right;
  color: #d9534f;
}
#msg-box4-t .mbr-section-title {
  color: #0275d8;
  text-align: left;
}
#msg-box4-u .mbr-section-title {
  color: #f1c050;
  text-align: center;
}
#msg-box4-v .mbr-section-title DIV {
  color: #00c5ff;
  text-align: right;
}
#msg-box4-w .mbr-section-title DIV {
  color: #0275d8;
}


#ext_menu-14 .navbar-toggler {
  color: #000;
}
#ext_menu-14 .nav-link {
  font-size: 16px;
  font-family: 'Merriweather', serif;
}
#ext_menu-14 .navbar-nav .btn {
  font-family: 'Lora', serif;
}
#header1-15 H1 {
  color: #ffffff;
}
#content5-17 .mbr-section-title {
  color: #d9534f;
  text-align: center;
}
#content5-17 P {
  color: #ffffff;
  text-align: left;
}
#header2-18 H1 {
  text-align: center;
  color: #edafae;
}
#header2-18 P {
  text-align: center;
}
#content4-19 H4 {
  color: #d9534f;
}
#content4-19 P {
  color: #000000;
  text-align: left;
}
#msg-box1-1b H2 {
  color: #f8c4bb;
}


#ext_menu-1c .navbar-toggler {
  color: #000;
}
#ext_menu-1c .nav-link {
  font-size: 16px;
  font-family: 'Merriweather', serif;
}
#ext_menu-1c .navbar-nav .btn {
  font-family: 'Lora', serif;
}
#header1-1d H1 {
  color: #ffffff;
}
#msg-box3-1e .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1e .mbr-section-title {
  color: #8f99af;
}
#msg-box3-1e .lead P {
  color: #abdbf2;
}
#msg-box3-1e .lead {
  color: #ffffff;
  text-align: center;
}
